.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table{
    width: 80%;
}

.button{
  margin-top: 3%;
}

.dashNav {
  border: 1px solid green;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}