.header {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 98vh;
  background-image: linear-gradient(to right bottom, #8D4982, #8d49826e),
    url('../../assets/rentdue.png');

  background-size: cover;
  background-position: center;
  color: #fff;
}

.contentContainer{
    margin-top: 3rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header * {
  color: white;
}

.header p {
    width: 60%;
}